body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.cabecalho {
    background-color: var(--cor-neutra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 25px;
    height: 25px;
    background: url("../images/Menu.svg") center no-repeat;
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
    z-index: 100;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-neutra);
}

.lista-menu__titulo {
    color: var(--cor-titulo-menu);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-itens-menu);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__imagem {
    width: 55px;
    padding: 5px;
}

.container__logo {
    width: 35px;
    margin: 0 0 0 10px;
}

.banner {
    background: var(--cor-itens-menu);
    color: var(--cor-neutra);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-neutra);
    color: var(--cor-neutra);
    border-radius: 25px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-neutra);
    background: url("../images/Pesquisa.svg") no-repeat;
}

.carrossel__titulo {
    color: var(--cor-titulo-menu);
    background-color: var(--cor-neutra);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background: var(--cor-neutra);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--cor-titulo-menu);
    font-size: 16px;
    margin: 0.5em 0.5em 0.5em 0;
}

.descricao__titulo-livro {
    color: var(--cor-titulo-livro);
    font-size: 18px;
    margin: 0.5em 0.5em 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
    padding: 0 0.5em 0.5em 0;
}

.descricao__imagem {
    max-width: 145px;
    height: 145px;
}

.card__botoes {
    align-items: center;
}

.botoes__ancora {
    background-color: var(--cor-titulo-menu);
    padding: .5em 1.5em;
    color: var(--cor-neutra);
    font-weight: 700;
}

.topicos {
    background: var(--cor-itens-menu);
    text-align: center;
    padding: 1em 0 0;
}

.topicos__titulo {
    color: var(--cor-neutra);
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--cor-neutra);
    padding: 1em;
    background-color: var(--cor-titulo-menu);
    font-size: 14px;
    font-weight: 700;
}

.contato {
    background-color: var(--cor-neutra);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--cor-itens-menu);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    margin: 0.5em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--cor-titulo-livro);
    border-radius: 25px;
    width: 90%;
    color: var(--cor-titulo-livro);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cor-titulo-livro);
    background: url("../images/Email.svg") no-repeat;
    padding: 0 0 0 2.2em;
}