:root {
    --cor-de-fundo: #EBECEE;
    --cor-neutra: #ffffff;
    --cor-titulo-menu: #EB9B00;
    --cor-itens-menu: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
}